---
import BlogPostGrid from '../../components/BlogPostGrid';
import Layout from '../../layouts/Layout.astro';
import { getPosts } from '../../utils/sanity';

const posts = await getPosts();
export const prerender = import.meta.env.PUBLIC_SANITY_VISUAL_EDITING_ENABLED === 'false';
// For local testing since prerender must be static
// export const prerender = false;

---

<Layout title='Blog - Construx' description='Build with Construx'>
    <header class='container flex flex-col items-center justify-center py-16'>
        <h1 class='capitalize leading-[60px]'>latest news</h1>
        <p class='mt-4 text-center lg:w-[35%]'>
            Fill out the form below to get in touch with our experienced team of contractors,
            painters, architects and more.
        </p>
    </header>
    <main>
        <section class='container pb-16'>
            <BlogPostGrid posts={posts} totalPosts={posts.length} client:load />
        </section>
    </main>
</Layout>
